{% extends 'base.html.twig' %}

{% block title %}Feds - Mi Perfil{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
<div class="container bg-white text-dark">
vcvbcvbc
</div>
{% endblock %}
