{% extends 'base.html.twig' %}

{% block title %}Feds - Incripcion Campeonato de España{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
<div class="container text-center bg-white text-dark p-4">
<h1 class="mb-5">Incripcion Campeonato de España</h1>

</div>
{% endblock %}
